@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
}

main {
    font-family: "Outfit", sans-serif;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    width: 290px;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
}

section {
    padding: 0.9rem;
}

h1 {
    font-size: 1.2rem;
    font-weight: 700;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
